[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ATACseqTFEA"]
	path = ATACseqTFEA
	url = https://github.com/jianhong/atacseqtfea
	shallow = true
	registered = true
[submodule "GenomicInteractionNodes"]
	path = GenomicInteractionNodes
	url = https://github.com/jianhong/genomicinteractionnodes
	shallow = true
	registered = true
[submodule "enhancerHomologSearch"]
	path = enhancerHomologSearch
	url = https://github.com/jianhong/enhancerhomologsearch
	shallow = true
	registered = true
[submodule "scRNAseqApp"]
	path = scRNAseqApp
	url = https://github.com/jianhong/scrnaseqapp
	shallow = true
	registered = true
