[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "enhancerHomologSearch"]
	path = enhancerHomologSearch
	url = https://github.com/jianhong/enhancerhomologsearch
	shallow = true
	registered = true
[submodule "GenomicInteractionNodes"]
	path = GenomicInteractionNodes
	url = https://github.com/jianhong/genomicinteractionnodes
	shallow = true
	registered = true
